{% extends "base.html" %}
{% load static %}
{% block content %}
{% load humanize %}
{% load custom_filters %}
        <div class="container py-5 big-padding">
            <div class="row section-title">
                <h2 class="fs-5 text-center">Voting Result</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eleifend arcu et sem elementum faucibus. Vestibulum faucibus eleifend dolor, id luctus libero. Suspendisse commodo, orci eu mattis mattis, ante ligula porta tortor, ut scelerisque massa risus a quam.</p>
            </div>

            <h3>TOTAL_VOTER{{item.total_score | pluralize:",S"}} = {{total_votes_category}}</h3>
            <br>
            <br>

            {% for item in items %}
            <h3 class="text-primary fw-bold">{{item.category}}</h3>
              {% if request.user|has_voted:item.voters.all %}
              <div class="row mb-5">
                  <div class="col-md-6 mb-4">
                    <div class="row shado-md p-2 m-0 rounded shadow-md bg-white">
                        <div class="col-md-3">
                              <img class="rounded-pill max-130 p-2" src="{% static 'core/images/testimonial/member-01.jpg' %}" alt="">
                        </div>
                        <div class="col-md-9 align-self-center">
                          <h4 class="mt-3 fs-5 mb-1 fw-bold">{{item.title}}</h4>
                          <p class="fs-8 mb-2 fw-bold">Vote{{item.total_score | pluralize:",s"}} : {{item.total_score}}</p>
                          <strong>[Voted by {{ request.user.full_name }}]</strong>
                          <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" aria-label="Example with label" style="width: {{item.percentage_vote | floatformat:2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{item.percentage_vote | floatformat:2}}%</div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
              <br>
              {% else %}
              <div class="row mb-5">
                  <div class="col-md-6 mb-4">
                    <div class="row shado-md p-2 m-0 rounded shadow-md bg-white">
                        <div class="col-md-3">
                              <img class="rounded-pill max-130 p-2" src="{% static 'core/images/testimonial/member-01.jpg' %}" alt="">
                        </div>
                        <div class="col-md-9 align-self-center">
                            <h4 class="mt-3 fs-5 mb-1 fw-bold">{{item.title}}</h4>
                            <p class="fs-8 mb-2 fw-bold">Vote{{item.total_score | pluralize:",s"}} : {{item.total_score}}</p>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-label="Example with label" style="width: {{item.percentage_vote | floatformat:2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{item.percentage_vote | floatformat:2}}%</div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <br>
              {% endif %}
          
            {% endfor %}
        </div>
{% endblock %}
